body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Use the full height of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
}

.title-bar {
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}

.container {
    display: flex;
    flex-wrap: wrap;
    margin: 20px;
    margin-bottom: 400px
}

#search-bar {
    flex: 1 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 160px;
}

#search-bar input[type="text"] {
    padding: 10px;
    font-size: 17px;
    width: 40%;
    border: 1px solid #ccc;
    border-radius: 5px 0 0 5px;
}

.search-btn {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #0056b3;
}

#filter {
    flex: 1 25%;
    max-width: 200px;
    margin-right: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    background-color: #ffffff
}

#filter h3 {
    margin-top: 0;
}

#filter label {
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    font-weight: bold;
}

#filter select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

#filter input[type="range"] {
    width: 100%;
}

#results {
    flex: 3;
    padding: 10px;
    border: 1px;
    border-radius: 5px;
    /*margin-top: 160px;*/
}

#results h3 {
    margin-top: 0;
}

.ball-icon {
    width: 100px;    /* Adjust the size of the icon */
    height: 100px;   /* Keeps the icon square */
    margin: 10px;    /* Adds space around the icon */
    cursor: pointer; /* Shows a pointer cursor when hovering over the icon */
    transition: transform 0.2s; /* Adds a little animation effect on hover */
}

.ball-icon:hover {
    transform: scale(1.1); /* Slightly enlarges the icon when hovered */
}

/* body {
    margin: 0;
    padding: 0;
    height: 100vh; /* Use the full height of the viewport /
    overflow-y: auto; /* Enable vertical scrolling */
/*} 